
@{
    ViewData["Title"] = "AuthenticatedIndex";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}

<h1 class="text-white display-3">A Simple Bugtracker</h1>
<p class="text-white lead">Start by <a asp-area="Identity" asp-page="/Account/Login" class="text-white-50">signing in</a> or <a asp-area="Identity" asp-page="/Account/Register" class="text-white-50">creating</a> an account with any email.</p>
<a href="https://github.com/vsromero/srbtracker" class="btn btn-white btn-icon">
    <span class="btn-inner--icon"><i class="fab fa-github"></i></span>
    <span class="btn-inner--text">Github</span>
</a>