
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="nav flex-column nav-menu">
    <li class="nav-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
    <li class="nav-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="nav-item"><a asp-controller="Issues" asp-action="Index">Issues</a></li>
    <li class="nav-item"><a asp-controller="Home" asp-action="Index">other</a></li>
</ul>